
.section-header {
  font-size: 1.1rem;
  margin: 16px 0 0;
  font-weight: 600;
  color: #000000;
}

.task-box {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 0;
  margin-bottom: 20px;
  background: #0A0A5A;
}

/*User Name*/
.user-email {
  font-weight: 500;
  color: #0C1428;
}

/* Form Page */
.page-wrapper-entry {
  max-width: 900px;
  margin: 40px auto;
  padding: 10px;
  font-family: 'URW DIN Condensed', sans-serif;
  background: #0A0A5A;
  border-radius: 25px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

/* Font for log container*/
.logs-container-entry {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow-y: auto;
  max-height: none;
  overflow-y: visible;
  border: 1px solid #0A0A5A;
  border-radius: 4px;
  color: #0A0A5A;
  font-size: medium;
}

.form-card {
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 20px 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

.form-title_tec {
  font-size: 22px;
  margin-bottom: 14px;
  color: #0A0A5A;
}

.form-group {
  margin-bottom: 14px;
}

.form-label {
  display: block;
  font-weight: 600;
  margin-bottom: -40px;
  color: #0C1428;
}

.form-input,
.form-textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #0A0A5A;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  background-color: #FFFFFF;

  color: #0C1428;
  transition: border-color 0.2s ease;
}

.form-input:focus,
.form-textarea:focus,
select:focus {
  border-color: #0A0A5A;
}

.form-textarea {
  resize: vertical;
}

/* Responsive Styling */
@media screen and (max-width: 600px) {
  .form-card {
    padding: 16px;
    box-shadow: none;
    border-radius: 0;
    max-width: 100%;
  }

  .form-title_tec {
    font-size: 20px;
  }

  .form-label {
    margin-bottom: 4px;
  }
}

.button-group button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  color: #FFFFFF;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.clear-form {
  background-color: #ADB5BD;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}