/* Toggle button for mobile */
.menu-toggle {
  font-size: 24px;
  color: white;
  cursor: pointer;
  display: none;
  background: none;
  border: none;
  margin-bottom: 8px;
}

/* Navigation links container */
.navlinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  transition: max-height 0.3s ease-in-out;
}

.navbar {
  background-color: #0A0A5A;    
  color: #ffffff;                  
  padding: 5px;  /*Box size*/                
  font-family: 'URW DIN Condensed', sans-serif;
}

/*Additional content for navlink*/
.navlink::after {
  content: "";
  color: white;
  margin-left: 4px;
}

.dropdown {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
}

.dropdown-content {
  position: absolute;
  top: 0;
  left: 100%; /* This makes it appear to the right */
  background-color: #0A0A5A;
  padding: 10px;
  border-radius: 6px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  white-space: nowrap;
}

/* Responsive styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navlinks {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
  }

  .navlinks.open {
    display: flex;
  }

  .dropdown-content {
    width: 300%;
    text-align: center;
  }

  .navlink::after {
    content: "";
  }
}