.navbar {
  background-color: #2c3e50;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.menu-toggle {
  font-size: 24px;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  display: none;
}

.navlinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.navlink {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #34495e;
}

.navlink:hover {
  background-color: #1abc9c;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navlinks {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .navlinks.open {
    display: flex;
  }

  .navlink {
    width: 100%;
    text-align: left;
  }


  .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .dropdown-title {
    cursor: pointer;
    padding: 10px;
    color: white;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
    flex-direction: column;
  }
  
  .dropdown-content .navlink {
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
  }
  
  .dropdown-content .navlink:hover {
    background-color: #555;
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
  }
}